<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>responzi.ve | Quem somos</title>
    <link rel="icon" href="../img/logo.png" type="image/icon type" />

    <link rel="stylesheet" href="../public/css/style.css" />

    <!--FontAwesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="home">
      <div class="header">
        <div class="navbar">
          <div class="left">
            <a href="index.html" class="logo-format">responzi.ve</a>
          </div>

          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>

          <div class="right">
            <ul class="menu-nav">
              <li class="nav-item"><a href="index.html">home</a></li>
              <li class="nav-item"><a href="quemsomos.html">quem somos</a></li>
              <li class="nav-item"><a href="servicos.html">serviços</a></li>
              <li class="nav-item"><a href="contatos.html">contatos</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="parallax contacts">
          <div class="content-title">
            <span class="title-contacts">fale conosco</span>
          </div>
        </div>
        <!-- Parallax -->

        
      </div>

      <footer>
        <div class="footer-wrapper">
          <div class="left">
            <img src="../img/logo.png" alt="" />
          </div>

          <div class="right">
            <div class="nav-footer">
              <h4>acesse</h4>
              <ul class="menu-nav">
                <li class="nav-item"><a href="index.html">home</a></li>
                <li class="nav-item">
                  <a href="quemsomos.html">quem somos</a>
                </li>
                <li class="nav-item"><a href="#">solutions</a></li>
                <li class="nav-item"><a href="#">contatos</a></li>
              </ul>
            </div>

            <div class="socials">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
            </div>
          </div>
        </div>
        <p>&copy;responzi.ve | Todos os direitos reservados.</p>
      </footer>
    </div>

    <script src="../public/js/app.js"></script>
  </body>
</html>
