<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>responzi.ve | Quem somos</title>
    <link rel="icon" href="../img/logo.png" type="image/icon type" />

    <link rel="stylesheet" href="../public/css/style.css" />

    <!--FontAwesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="contatos">
      <div class="header">
        <div class="navbar">
          <div class="left">
            <a href="index.html" class="logo-format">responzi.ve</a>
          </div>

          <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
          </div>

          <div class="right">
            <ul class="menu-nav" id="menu-nav">
              <li class="nav-item"><a href="index.html">home</a></li>
              <li class="nav-item"><a href="quemsomos.html">quem somos</a></li>
              <li class="nav-item"><a href="servicos.html">serviços</a></li>
              <li class="nav-item"><a href="contatos.html">contatos</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="parallax contacts">
          <div class="content-title">
            <span class="title-contacts">fale conosco</span>
          </div>
        </div>
        <!-- Parallax -->

        <div class="contacts">
          <div class="contacts-content">
            <div class="box">
              <i class="fa-solid fa-map-location-dot"></i>
              <h3>Endereço</h3>
              <p>Avenida Paulista, São Paulo - SP</p>
            </div>
            <div class="line"></div>
            <div class="box">
              <i class="fa-solid fa-phone"></i>
              <h3>Telefone</h3>
              <p>(11) 3758-9966</p>
              <br />
              <h3>WhatsApp</h3>
              <p>(11) 93758-7079</p>
            </div>
            <div class="line"></div>
            <div class="box">
              <i class="fa-regular fa-envelope"></i>
              <h3>E-mail</h3>
              <p>contato@responzive.com.br</p>
            </div>
          </div>
        </div>
        <!-- Contacts -->

        <div class="form">
          <div class="glass">
            <form>
              <div class="form-content">
                <h3>Entre em contato conosco</h3>
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" />
                <label for="email">Email</label>
                <input type="mail" name="email" id="email" />
                <label for="telefone">Telefone</label>
                <input type="text" name="telefone" id="telefone" />
                <label for="empresa">Empresa</label>
                <input type="text" name="empresa" id="empresa" />
                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem"></textarea>
                <button type="button" id="buttonModal">Enviar</button>
                <!--Enviar formulário-->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Formulario -->

      <div id="modal" class="modal">
        <!-- Modal -->
        <div class="modal-content">
          <!-- Modal content -->
          <div class="close">
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
          <h3>Formulário enviado com sucesso! Logo entraremos em contato.</h3>
        </div>
        <!-- Modal content -->
      </div>
      <!-- Modal -->

      <footer>
        <div class="footer-wrapper">
          <div class="left">
            <img src="../img/logo.png" alt="" />
          </div>

          <div class="right">
            <div class="nav-footer">
              <h4>acesse</h4>
              <ul class="menu-nav">
                <li class="nav-item"><a href="index.html">home</a></li>
                <li class="nav-item">
                  <a href="quemsomos.html">quem somos</a>
                </li>
                <li class="nav-item"><a href="servicos.html">serviços</a></li>
                <li class="nav-item"><a href="contatos.html">contatos</a></li>
              </ul>
            </div>

            <div class="socials">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
            </div>
          </div>
        </div>
        <p>&copy;responzi.ve | Todos os direitos reservados.</p>
      </footer>
    </div>

    <script src="../public/js/app.js"></script>
  </body>
</html>
