<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>responzi.ve | Serviços</title>
    <link rel="icon" href="../img/logo.png" type="image/icon type" />

    <link rel="stylesheet" href="../public/css/style.css" />

    <!--FontAwesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="home">
      <div class="header">
        <div class="navbar">
          <div class="left">
            <a href="index.html" class="logo-format">responzi.ve</a>
          </div>

          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>

          <div class="right">
            <ul class="menu-nav">
              <li class="nav-item"><a href="index.html">home</a></li>
              <li class="nav-item"><a href="quemsomos.html">quem somos</a></li>
              <li class="nav-item"><a href="servicos.html">serviços</a></li>
              <li class="nav-item"><a href="contatos.html">contatos</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="parallax servicos">
          <div class="content-title">
            <span class="title-quemsomos">o que fazemos</span>
          </div>
        </div>
        <!-- Parallax -->

        <div class="services-infos content">
          <div class="services-infos-content">
            <div class="box">
              <h2>+50</h2>
              <h4>Projetos</h4>
              <p>
                Todos os projetos em que atuamos, atenderam às expectativas dos clientes.
                <br>Nossa equipe cada vez mais experiente, sempre se adequa ao que o mercado
                e o cliente exige, trazendo os melhores retornos.
              </p>
            </div>
            <div class="box">
              <h2>+35</h2>
              <h4>Clientes</h4>
              <p>
                Acumulamos muitos clientes durante nossa jornada, e ajudamos esses
                a alcançar objetivos incríveis, por isso, eles preferem nossos serviços,
                uma vez que mostramos como nossos métodos funcionam.
              </p>
            </div>
            <div class="box">
              <h2>+80mi</h2>
              <h4>Impressões</h4>
              <p>
                Graças a nossa equipe de <i>Marketing Digital</i> já conseguimos
                alcançar mais de 80 milhões de impressões nos projetos em que
                atuamos, enquanto administravamos as redes sociais da marca.
              </p>
            </div>
          </div>
        </div>
        <!-- Services Infos -->

        <div class="services">
          <div class="services-content">
            <div class="line"></div>
            <div class="box" id="service0">
              <div class="content-text">
                <h2>O que oferecemos</h2>
              </div>
            </div>
            <div class="box" id="service1">
              <div class="content-text">
                <h3>Transformação digital</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Corrupti neque reiciendis recusandae adipisci harum cumque
                  animi labore, reprehenderit tempore architecto quaerat,
                  voluptates eos, excepturi nobis.
                </p>
              </div>
              <div class="content-img">
                <img src="../img/digital.jpg" />
              </div>
            </div>
            <div class="box" id="service2">
              <div class="content-text">
                <h3>Crescimento de marca</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Corrupti neque reiciendis recusandae adipisci harum cumque
                  animi labore, reprehenderit tempore architecto quaerat,
                  voluptates eos, excepturi nobis.
                </p>
              </div>
              <div class="content-img">
                <img src="../img/marca.jpg" />
              </div>
            </div>
            <div class="box" id="service3">
              <div class="content-text">
                <h3>Rebranding</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam modi, tenetur voluptatibus veritatis sint enim
                  reprehenderit quaerat soluta culpa ipsam odio fugiat, libero
                  magnam temporibus.
                </p>
              </div>
              <div class="content-img">
                <img src="../img/rebranding.jpg" />
              </div>
            </div>
            <div class="box" id="service4">
              <div class="content-text">
                <h3>Identidade visual</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure
                  quo provident est earum optio sint, ullam ipsum praesentium,
                  accusamus blanditiis aliquid facere aspernatur exercitationem
                  aperiam.
                </p>
              </div>
              <div class="content-img">
                <img src="../img/identidade.jpeg" />
              </div>
            </div>
            <div class="box" id="service5">
              <div class="content-text">
                <h3>Gestão de redes sociais</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum, consequuntur tempora temporibus blanditiis, quas
                  ipsam recusandae molestias, illo autem fugiat placeat hic
                  nulla inventore quam!
                </p>
              </div>
              <div class="content-img">
                <img src="../img/social.jpg" />
              </div>
            </div>
          </div>
        </div>
        <!-- Services -->

        <!-- Modernize sua empresa -->
        <!-- Have a cool project -->

        <div class="redirect-contact">
          <div class="redirect-text">
            <h3>Abra as portas para o mercado</h3>
          </div>
          <button>
            <a href="contatos.html">Entre em contato</a>
          </button>
          <div class="square1"></div>
          <div class="square2"></div>
        </div>
      </div>

      <footer>
        <div class="footer-wrapper">
          <div class="left">
            <img src="../img/logo.png" alt="" />
          </div>

          <div class="right">
            <div class="nav-footer">
              <h4>acesse</h4>
              <ul class="menu-nav">
                <li class="nav-item"><a href="index.html">home</a></li>
                <li class="nav-item">
                  <a href="quemsomos.html">quem somos</a>
                </li>
                <li class="nav-item"><a href="servicos.html">serviços</a></li>
                <li class="nav-item"><a href="contatos.html">contatos</a></li>
              </ul>
            </div>

            <div class="socials">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
            </div>
          </div>
        </div>
        <p>&copy;responzi.ve | Todos os direitos reservados.</p>
      </footer>
    </div>

    <script src="../public/js/app.js"></script>
  </body>
</html>
