@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* == Formatações gerais ==  */

:root {
  --light-blue: #3e065f;
  --dark-light-grey: #383d45;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393e46;
  /* overflow-x: hidden; */
  font-family: "Righteous", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.divisor {
  width: 1px;
  height: 100px;
  background-color: #d1d1d1;
  z-index: 12;
}

.waves {
  z-index: 10;
}

.content {
  padding: 0 35px;
}
/* Barra de navegação */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background-color: var(--light-blue);
  padding: 0 70px;
  overflow-x: hidden;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  line-height: 32px;
}

.header .left a {
  font-size: 1.5em;
  line-height: 32px;
  font-weight: bolder;
}

.navbar .menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.nav-item {
  list-style: none;
}

.nav-item button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 700;
}

.nav-item button:hover {
  cursor: pointer;
  color: var(--light-blue);
  background-color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* =========== 
   HOME PAGE 
   ============ */

.home.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.first-view {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 0 70px;
}

.first-view .left {
  display: flex;
  width: 450px;
  justify-content: center;
}

.first-view .left img {
  width: 400px;
  height: 450px;
  transition: 0.3s;
}

.first-view .left img:hover {
  scale: 1.1;
}

.first-view .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  padding: 16px;
  width: 45vw;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
}

.first-view .right h3 {
  font-size: 4em;
  z-index: 2;
  font-family: 300;
}

.first-view .right .square {
  width: 50px;
  height: 7px;
  background-color: #92e3a9;
  position: absolute;
  top: 370px;
  right: 640px;
  z-index: -1;
}

.logo-format {
  font-family: "Righteous", sans-serif;
  letter-spacing: 0.1em;
}

.first-view .right h3 span {
  font-family: "Righteous";
  /* color: #9B5094; */
  color: #92e3a9;
  z-index: 2;
}

.first-view .right button {
  border: 1px solid #fff;
  outline: none;
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  transition: 0.2s;
}

.first-view .right button:hover {
  background-color: #fff;
  color: #393e46;
  scale: 1.1;
}

/* Clients */

.clients-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  padding: 64px 0px;
  color: #fff;
}

.clients-align h3 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.5em;
}

.clients-align i.estrela {
  margin: 18px 0px;
}

.clients-align p {
  margin-bottom: 48px;
  text-transform: uppercase;
}

.clients-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0px 70px;
}

.clients-content img {
  z-index: 12;
}

/* Infos */

.info-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 70px;
  background-color: var(--light-blue);
  margin-top: -6px;
}

.info-content .box {
  width: 29vw;
  height: 230px;
  display: flex;
  justify-content: center;
  padding-left: 12px;
  box-sizing: border-box;
}

.box.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  color: #fff;
}

/* Mini solutions */

.mini-solutions {
  margin-top: -100px;
}

.mini-solutions-content {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: -12px;
  padding: 0 48px;
}

.mini-solutions-content h4 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mini-solutions-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 16px 0px;
  font-family: "Space Grotesk", sans-serif;
  color: #222831;
}

.mini-solutions-text h5 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.mini-solutions-text p {
  font-weight: lighter;
}

.mini-solutions-text img {
  width: 150px;
}

.mini-solutions-button button {
  padding: 8px 12px;
  border: 1px solid #eee;
  outline: none;
  background-color: transparent;
  color: #eee;
  border-radius: 12px;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.2s;
  scale: 1;
}

.mini-solutions-button button:hover {
  background-color: #eee;
  color: #222831;
  scale: 1.1;
}

.mini-solutions-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 18px;
  margin: 24px;
  width: 300px;
  height: 65vh;
  box-sizing: border-box;
  background-color: #cdcdcd;
  border-radius: 12px;
}

/* =========== 
   QUEM SOMOS 
   =========== */
.parallax.quemsomos {
  background-image: url("../../img/quem-somos.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.content-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  color: #fff;
  text-align: center;
}

.parallax .content-title span {
  text-transform: uppercase;
  background-color: var(--dark-grey);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 6px;
  font-weight: 900;
  font-family: "Space Grotesk", sans-serif;
}

.bottom-parallax-text {
  text-align: center;
  margin: 18px auto;
}

.bottom-parallax-text h6 {
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
/* Valores */
.valores {
  padding: 0 70px;
  margin: 16px auto;
}

.valores-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.valores .box {
  width: 20vw;
  padding: 12px;
  text-align: justify;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Grotesk";
}

.valores .box img {
  width: 100%;
}

.valores .box p {
  margin-top: 8px;
  font-weight: 300;
}

.valores .box h3 {
  letter-spacing: 0.1em;
}

/* Historia */
.history {
  margin: 24px auto;
}

.history-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #eee;
  margin-top: -48px;
  padding: 36px 0;
}

.history-content .left {
  color: var(--dark-grey);
  width: 35vw;
  font-family: "Space Grotesk";
  font-weight: 400;
  letter-spacing: 0.1em;
  position: relative;
}

.history-content .left h2 {
  line-height: 2.5em;
}

.history-content .left .line {
  width: 3px;
  height: 65vh;
  background: linear-gradient(
    180deg,
    rgba(62, 6, 95, 1) 0%,
    rgba(62, 6, 95, 0.8) 25%,
    rgba(62, 6, 95, 0.6) 50%,
    rgba(62, 6, 95, 0.4) 75%,
    rgba(62, 6, 95, 0.2) 100%
  );
  position: absolute;
  top: 0;
  left: -10px;
}

.history-content .right {
  width: 35vw;
  height: 100vh;
}

.history-content .right img {
  height: 100%;
  border-radius: 16px;
  box-shadow: rgba(62, 6, 95, 0.4) 5px 5px, rgba(62, 6, 95, 0.3) 10px 10px,
    rgba(62, 6, 95, 0.2) 15px 15px, rgba(62, 6, 95, 0.1) 20px 20px,
    rgba(62, 6, 95, 0.05) 25px 25px;
}

/* Aditional Infos */

.aditional-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  margin: -128px auto 24px;
}

.aditional-infos .responsability {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aditional-infos .responsability h3,
.aditional-infos .box p {
  color: #fff;
  letter-spacing: 0.1em;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  line-height: 3.5em;
}

.aditional-infos .responsability h3 {
  font-size: 2em;
  text-transform: uppercase;
}

.responsability-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2em;
}

.aditional-infos .box {
  width: 20vw;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.aditional-infos .box p {
  text-align: justify;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.aditional-infos img {
  width: 90%;
}

/* =========== 
   SERVIÇOS 
   =========== */

/* Services Infos */
.parallax.servicos {
  background-image: url("../../img/parallax-servicos.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.services-infos {
  margin: 3em 0;
}

.services-infos-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.services-infos .box {
  background-color: var(--dark-grey);
  color: #eee;
  width: 25vw;
  padding: 12px;
  border-radius: 6px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em;
  box-shadow: rgba(62, 6, 95, 0.4) 5px 5px, rgba(62, 6, 95, 0.3) 10px 10px,
    rgba(62, 6, 95, 0.2) 15px 15px, rgba(62, 6, 95, 0.1) 20px 20px,
    rgba(62, 6, 95, 0.05) 25px 25px;
}

.services-infos .box h2 {
  font-size: 4em;
}

.services-infos .box h4 {
  font-size: 1.5em;
}

/* Services */
.services {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 8em;
}

.services-content {
  display: flex;
  flex-direction: column;
}

.services-content h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 2em;
  margin: 1em auto;
  position: relative;
  top: 0;
  bottom: 0;
  font-weight: 300;
}

.services-content .line {
  width: 100px;
  height: 2px;
  background-color: #3e065f;
  position: relative;
  bottom: -73px;
  left: 435px;
}

.services-content .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  display: flex;
}

.services-content .box .content-text {
  width: 60vw;
  padding: 12px 48px 12px 12px;
  text-align: justify;
}

.services-content .box .content-text h3 {
  margin: 12px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5em;
}
.services-content .box .content-text p {
  letter-spacing: 0.05em;
}

.services-content .box .content-img {
  width: 200px;
  height: 50px;
  position: relative;
}

.services-content .box img {
  width: 130%;
  height: 130%;
  position: absolute;
  object-fit: cover;
  border-radius: 50px;
}

#service0 {
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgb(199, 199, 199) 100%
  );
  height: 100px;
}

#service1,
#service3,
#service5 {
  background-color: #eee;
  color: var(--dark-grey);
}

#service2,
#service4 {
  background-color: var(--dark-grey);
  color: #eee;
}

/* redirect contact */
.redirect-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(56, 62, 70, 1) 0%,
    rgba(62, 6, 95, 0.5) 50%,
    rgba(34, 40, 49, 1) 100%
  );
  position: relative;
  font-family: "Space Grotesk", sans-serif;
}

.redirect-text {
  color: #fff;
  width: 600px;
}

.redirect-text h3 {
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.redirect-contact button {
  padding: 8px 12px;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s;
}

.redirect-contact button:hover {
  color: var(--light-blue);
  background-color: #fff;
}

.redirect-contact button a {
  color: #fff;
  text-decoration: none;
}

.redirect-contact button:hover :where(a) {
  color: #3e065f;
}

.redirect-contact .square1 {
  width: 250px;
  height: 75px;
  border: 0.5px solid #fff;
  position: absolute;
  border-radius: 50%;
  top: 230px;
  bottom: 0;
  left: 650px;
  rotate: 190deg;
  z-index: 0;
}

.redirect-contact .square2 {
  width: 75px;
  height: 75px;
  border: 0.5px solid #fff;
  position: absolute;
  top: 190px;
  bottom: 0;
  left: 300px;
  rotate: 45deg;
  z-index: 0;
}

/* =========== 
   CONTATOS 
   =========== */

.parallax.contacts {
  background-image: url("../../img/contatos.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.content-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  color: #fff;
  text-align: center;
}

.parallax .content-title span {
  text-transform: uppercase;
  background-color: var(--dark-grey);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 6px;
  font-weight: 900;
  font-family: "Space Grotesk", sans-serif;
}

/* Contacts */
.contacts-content {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 70px;
  font-family: "Space Grotesk", sans-serif;
}

.contacts-content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  width: 350px;
}

.contacts-content .box-telefone-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts-content .box h3 {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 36px;
}

.contacts-content .box i {
  font-size: 2em;
}

.contacts-content .line {
  width: 1px;
  height: 48px;
  background-color: #fff;
}

/* Form */

.form {
  background-image: url("../../img/paulista.jpg");
  min-height: 550px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  z-index: 9;
}

.glass {
  background-color: #3e065f56;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
}

.form-content {
  padding: 12px 70px;
  display: flex;
  flex-direction: column;
  z-index: 99;
  font-family: "Space Grotesk", sans-serif;
}

.form-content h3 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.form-content label {
  margin-top: 12px;
  color: #fff;
  opacity: 1;
}

.form-content input {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 12px;
  margin-top: 4px;
  opacity: 0.7;
}

.form-content textarea {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 12px;
  margin-top: 4px;
  opacity: 0.7;
  height: 250px;
}

.form-content button {
  width: 150px;
  padding: 8px 12px;
  border: none;
  outline: none;
  margin: 12px auto;
  border-radius: 8px;
  background-color: #3e065f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.form-content button:hover {
  background-color: #222831;
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 99;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */

footer {
  height: 400px;
  margin-bottom: 0;
  background-color: var(--dark-grey);
  padding: 0px 70px 32px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.9em;
}

footer p {
  text-align: center;
  color: #bcbcbc;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

footer .right,
footer .left {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .left img {
  opacity: 0.4;
  scale: 0.7;
}

footer .right {
  display: flex;
  align-items: flex-start;
}

footer .right h4 {
  color: #fff;
}

.socials {
  color: #bcbcbc;
}

.socials i {
  margin-right: 12px;
  margin-top: 24px;
  scale: 1.2;
  cursor: pointer;
}

.nav-footer {
  width: 100%;
  color: #bcbcbc;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.nav-footer .menu-nav .nav-item {
  margin-top: 8px;
}

.nav-footer .menu-nav a {
  text-decoration: none;
  color: #bcbcbc;
  cursor: pointer;
}

/* Media queries */

@media (max-width: 797px) {

  .navbar .menu-nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu-nav.show {
    display: flex;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    background-color: #3e065f;
    z-index: 999;
  }
  
  .header {
    margin-top: 0;
    width: 100vw;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 70px;
    color: #fff;
  }

  .main.index {
    justify-content: space-between;
    margin-top: 1px;
    margin-top: 135px;
  }
  .first-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    gap: 16px;
  }

  .first-view .left {
    display: flex;
    justify-content: center;
  }

  .first-view .right h3 {
    text-align: center;
  }

  .first-view .right .square {
    display: none;
  }

  .first-view .right {
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 16px;
    width: 100%;
  }

  /* Clients */

  .clients-align {
    padding: 64px 0px;
    margin-top: 145px;
  }

  .clients-content {
    flex-direction: column;
    padding: 0px 35px;
  }

  .clients-content .divisor {
    display: none;
  }

  /* Infos */

  .info-content {
    width: 100%;
    padding: 16px 16px;
    flex-direction: column;
    justify-content: center;
  }

  .info-content .box {
    width: 40vw;
  }

  .box.text {
    font-size: 1.2em;
  }

  .box.img {
    display: none;
  }
  /* Mini solutions */

  .mini-solutions {
    min-width: 90vw;
  }

  .mini-solutions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: -12px;
    padding: 0 16px;
  }

  .mini-solutions-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 16px 0px;
  }

  .mini-solutions-text p,
  .mini-solutions-text h5 {
    font-size: 1.1em;
  }

  .mini-solutions-button button {
    width: 50vw;
  }

  .mini-solutions-box {
    width: 400px;
  }

  /* redirect contact */
  .redirect-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
  }

  .redirect-text {
    color: #fff;
    width: 90%;
  }

  .redirect-text h3 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }

  .redirect-contact .square1 {
    top: 170px;
    bottom: 0;
    left: 150px;
  }

  .redirect-contact .square2 {
    top: 150px;
    bottom: 0;
    left: 45px;
  }

  /* Valores */
  .valores {
    padding: 0 35px;
    margin: 16px auto;
  }

  .valores-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .valores .box {
    width: 70vw;
  }

  .valores .box img {
    width: 50%;
  }

  .valores .box h3,
  .valores .box p {
    font-size: 1.1em;
  }

  /* Historia */

  .history-content .left {
    width: 70vw;
  }

  .history-content .right {
    display: none;
  }

  /* Aditional Infos */
  .aditional-infos {
    flex-direction: column;

    padding: 0 35px;
    margin: -85px auto 24px;
  }

  .aditional-infos .responsability {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .aditional-infos .responsability h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
  }

  .responsability-content {
    flex-direction: column;
    gap: 2em;
  }

  .aditional-infos .box {
    width: 65vw;
  }

  .aditional-infos .box p {
    text-align: justify;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  .aditional-infos img {
    width: 80%;
  }

  /* Serviços */

  .services-infos {
    margin: 3em 0;
  }

  .services-infos-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .services-infos .box {
    width: 350px;
    padding: 24px;
  }


  /* Services */
  .services {
    margin-top: 8em;
  }

  .services-content {
    display: flex;
    flex-direction: column;
  }

  .services-content h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 2em;
    margin: 1em auto;
    position: relative;
    top: 0;
    bottom: 0;
    font-weight: 300;
  }

  .services-content .line {
    width: 100px;
    height: 2px;
    background-color: #3e065f;
    position: relative;
    bottom: -73px;
    left: 435px;
  }

  .services-content .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    display: flex;
  }

  .services-content .box .content-text {
    width: 90vw;
    text-align: center;
    padding: 24px;
  }

  .services-content .box .content-text h3 {
    margin: 12px 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5em;
  }
  .services-content .box .content-text p {
    letter-spacing: 0.05em;
  }

  .services-content .box .content-img {
    width: 200px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
  }
  
  .services-content .box img {
    width: 140%;
    height: 140%;
    position: absolute;
    object-fit: cover;
    border-radius: 0px;
  }

  /* Contacts */
  .contacts-content {
    flex-direction: column;
  }

}

@media screen and (min-width: 320px) and (max-width: 489px) {

  .navbar {
    padding: 16px;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 30px;
    color: #fff;
    font-size: 1.4em;
  }

  .main.index {
    justify-content: space-between;
    margin-top: 1px;
    margin-top: 135px;
  }
  .first-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    gap: 16px;
    width: 100vw;
  }

  .first-view .left {
    display: flex;
    justify-content: center;
  }

  .first-view .left img {
    width: 80vw;
    height: 65vh;
  }

  .first-view .right h3 {
    text-align: center;
    font-size: 2.5em;
  }

  .first-view .right .square {
    display: none;
  }

  .first-view .right {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 16px;
    width: 100%;
  }

  /* Clients */

  .clients-align {
    padding: 64px 4px;
    margin-top: 145px;
    font-size: 0.8em;
    text-align: center;
  }

  .clients-content {
    flex-direction: column;
    padding: 0px 35px;
  }

  .clients-content .divisor {
    display: none;
  }

  /* Infos */

  .info-content {
    width: 100%;
    padding: 16px 16px;
    flex-direction: column;
    justify-content: center;
  }

  .info-content .box {
    width: 100%;
  }

  .box.text {
    font-size: 0.9em;
  }

  .box.img {
    display: none;
  }
  /* Mini solutions */

  .mini-solutions {
    min-width: 90vw;
    margin-top: 24px;
  }

  .mini-solutions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 0 16px;
  }

  .mini-solutions-content h4 {
    margin-top: 36px;
    text-align: center;
  }

  .mini-solutions-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 16px 0px;
  }

  .mini-solutions-text p,
  .mini-solutions-text h5 {
    font-size: 1em;
  }
  
  .mini-solutions-text h5 {
    text-align: center;
  }

  .mini-solutions-button button {
    width: 50vw;
  }

  .mini-solutions-box {
    width: 250px;
    height: 500px;
  }

  footer {
    height: 100%;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  footer .right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .socials {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  /* redirect contact */
  .redirect-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
  }

  .redirect-text {
    color: #fff;
    width: 90%;
  }

  .redirect-text h3 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }

  .redirect-contact .square1 {
    top: 170px;
    bottom: 0;
    left: 150px;
  }

  .redirect-contact .square2 {
    top: 150px;
    bottom: 0;
    left: 45px;
  }
  /* Parallax */


  .content-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    color: #fff;
    text-align: center;
  }
  
  .parallax .content-title span {
    text-transform: uppercase;
    background-color: var(--dark-grey);
    padding: 8px;
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
  }
  
  .bottom-parallax-text {
    text-align: center;
    margin: 18px auto;
    padding: 12px;
  }
  
  .bottom-parallax-text h6 {
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  /* Valores */
  .valores {
    padding: 0 35px;
    margin: 16px auto;
  }

  .valores-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .valores .box {
    width: 70vw;
  }

  .valores .box img {
    width: 50%;
  }

  .valores h6 {
    font-size: 0.9em;
  }

  .valores .box h3,
  .valores .box p {
    font-size: 1.1em;
  }

  /* Historia */

  .history-content .left {
    width: 85vw;
  }

  .history-content .right {
    display: none;
  }

  /* Aditional Infos */
  .aditional-infos {
    flex-direction: column;

    padding: 0 35px;
    margin: -85px auto 24px;
  }

  .aditional-infos .responsability {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .aditional-infos .responsability h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
  }

  .responsability-content {
    flex-direction: column;
    gap: 2em;
  }

  .aditional-infos .box {
    width: 65vw;
  }

  .aditional-infos .box p {
    text-align: justify;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  .aditional-infos img {
    width: 80%;
  }

  /* Serviços */

  .services-infos {
    margin: 3em 0;
  }

  .services-infos-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .services-infos .box {
    width: 250px;
    padding: 24px;
  }


  /* Services */
  .services {
    margin-top: 8em;
  }

  .services-content {
    display: flex;
    flex-direction: column;
  }

  .services-content h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 2em;
    margin: 1em auto;
    position: relative;
    top: 0;
    bottom: 0;
    font-weight: 300;
  }

  .services-content .line {
    width: 100px;
    height: 2px;
    background-color: #3e065f;
    position: relative;
    bottom: -73px;
    left: 435px;
  }

  .services-content .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    display: flex;
  }

  .services-content .box .content-text {
    width: 90vw;
    text-align: center;
    padding: 24px;
  }

  .services-content .box .content-text h3 {
    margin: 12px 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5em;
  }
  .services-content .box .content-text p {
    letter-spacing: 0.05em;
  }

  .services-content .box .content-img {
    width: 200px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
  }
  
  .services-content .box img {
    width: 140%;
    height: 140%;
    position: absolute;
    object-fit: cover;
    border-radius: 0px;
  }

  /* Contacts */
  .contacts-content {
    flex-direction: column;
  }

  .form-content {
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    font-family: "Space Grotesk", sans-serif;
  }

}